#
# Ux500 SoC audio configuration
#

menuconfig SND_SOC_UX500
	bool "SoC Audio support for Ux500 platform"
	depends on SND_SOC
	default n
	help
		Say Y if you want to add support for the Ux500 platform.

choice
	prompt "Platform 5500/85X0"
	depends on SND_SOC_UX500
	default SND_SOC_U85X0
	config SND_SOC_U85X0
	bool "Platform - U85X0"
	config SND_SOC_U5500
	bool "Platform - U5500"
endchoice

config SND_SOC_UX500_AB850X
	bool "Codec - AB850X"
	depends on SND_SOC_UX500 && UX500_SOC_DB8500 && AB8500_CORE && AB8500_GPADC
	select SND_SOC_AB850X
	default n
	help
		Say Y if you want to include AB850X audio codec.

config SND_SOC_UX500_AB8540
	bool "Codec - AB8540"
	depends on SND_SOC_UX500 && UX500_SOC_DB8500 && AB8500_CORE && AB8500_GPADC
	select SND_SOC_AB8540
	default n
	help
		Say Y if you want to include AB8540 audio codec.

config SND_SOC_UX500_CG29XX
	bool "Codec - CG29xx"
	depends on SND_SOC_UX500 && (UX500_SOC_DB8500) && CG2900_AUDIO
	select SND_SOC_CG29XX
	default n
	help
		Say Y if you want to include CG29xx codec (Combo chip).

config SND_SOC_UX500_AV8100
	bool "Codec - AV8100"
	depends on SND_SOC_UX500 && (UX500_SOC_DB8500) && AV8100
	select SND_SOC_AV8100
	default n
	help
		Say Y if you want to include AV8100 codec (HDMI chip).

config SND_SOC_UX500_DEBUG
	bool "Activate Ux500 platform debug-mode (pr_debug)"
	depends on SND_SOC_UX500
	default n
	help
		Say Y if you want to add debug level prints for Ux500 code-files.
